@import "settings";
@import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

//* Style header *//
header{
	height: 100px;
	border-bottom: 3px solid #007dc6;
	
	#logo{
		margin: 20px 0 0 0;

		img{
			display: block;
			margin: 0 auto;
		}
	}

	#menu-principal{
		margin-top: 40px;

		ul{
			list-style: none;
			margin: 0;

			li{
				display: inline-block;
				margin: 0 10px;
				padding: 15px 10px 17px 10px;
				border-bottom: 3px solid #007dc6;
				font-weight: bold;

				&:hover{
					padding-bottom: 13px;
					border-bottom: 4px solid #ffc220;
					transition: 0.3s;
				}
			}
		}
	}
}	

//* Funções de estruturação *//
.no-padding {
	padding: 0 !important;
}

.no-margin{
	max-width: 100% !important;
	margin: 0 !important;
}