@import "settings";
@import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

//* Style header *//
header{
	height: 100px;
	border-bottom: 3px solid #007dc6;
	
	#logo{
		margin: 20px 0 0 0;

		img{
			display: block;
			margin: 0 auto;
		}
	}

	#menu-principal{
		margin-top: 40px;

		ul{
			list-style: none;
			margin: 0;

			li{
				display: inline-block;
				margin: 0 10px;
				padding: 15px 10px 20px 10px;
				border-bottom: 3px solid #007dc6;
				font-weight: bold;
				font-size: 14px;

				&:hover{
					padding-bottom: 13px;
					border-bottom: 4px solid #ffc220;
					transition: 0.3s;
				}
			}
		}
	}
}

#main{
	padding-top: 30px;
	min-height: 700px;
	
	.titulo-pagina{
		h3{
			margin: 0;
			font-size: 20px;
			color: #004066;
			line-height: 50px;
		}

		button{
			margin-bottom: 0px;
		}

		.columns{
			margin-bottom: 15px;
		}

		.fa{
			font-weight: 100;
			border: 1px solid;
			padding: 7px;
			border-radius: 50%;
		}
	}

	#lista-produtos{
		border-spacing: 0;
		width: 100%;
		border: none;
		thead{
			border-color: #007eca;
			tr{
				background: #007eca;
				
				th{
					color: #FFF;
				}
			}
		}

		tbody{
			
			tr{
				td{
					border-bottom: 1px solid #ececec;
					

					p{
						font-size: 11px;
						margin-top: 10px;
					}

					img{
						display: block;
						margin: 0 auto;
					}
				}

				.td-descricao{
					border-right: 1px solid #ececec;
					strong{
						margin-top: 20px;
						display: block;
					}

					a{
						display: block;
						text-align: center;
						color: rgba(239, 40, 40, 0.40);
						&:hover{
							color: rgba(239, 40, 40, 0.70);
						}
					}
				}

				.td-qtd{
					padding: 0 20px;
					border-right: 1px solid #ececec;

					@media #{$medium-up}{
						width: 160px;
					}

				}

				.td-preco{

					span{
						font-size: 15px;
						font-weight: bold;
						color: #0077BF;
					}

					@media #{$medium-up}{
						width: 200px;
					}
				}

				
				
			}

			.tr-soma{
				background: none;
				td{
					padding: 20px 10px;
				}

				.total{
					font-size: 22px;
					font-weight: bold;
					color: #0077BF;
					font-style: italic;
					border-left: 1px solid #ececec;
				}
			}

		}
	}

	#btn-finalizar{
		background: #ef6b28;
		padding: 10px 20px;
		border-radius: 5px;
		font-weight: bold;
		font-size: 14px;

	}
}


footer{
	background: #004d7b;
	color: #FFF;
	padding-top: 10px;
	height: 40px;
	margin-top: 50px;
}

//* Funções de estruturação *//
.no-padding {
	padding: 0 !important;
}

.no-margin{
	max-width: 100% !important;
	margin: 0 !important;
}